html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Garante que não apareçam barras de rolagem */
}

body {
    background-image: url('../img/pixelvoid.png'); /* Sua imagem */
    background-size: cover; /* Faz a imagem ficar maior que a tela */
    background-position: center;
    /*background-attachment: fixed; /* Deixa a imagem fixa enquanto o conteúdo rola */
    transition: background-position 0.1s ;ease-out; /* Para suavizar o movimento */
    min-height: 2000px;
}

