.theme-toggle {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

body[data-theme="dark"] header {
    color: rgb(0, 183, 255);
}

body[data-theme="dark"] h1 {
    color: rgb(255, 60, 60);
}

body[data-theme="dark"] h6 {
    color: rgb(126, 255, 182);
}


:root {
    --bg-light: url('../img/light/background.png');
    --mountain-light: url('../img/light/mountain.png');
    --clouds-light: url('../img/light/clouds.png');
    --castle-light: url('../img/light/castle.png');
    --field1-light: url('../img/light/field1.png');
    --field2-light: url('../img/light/field2.png');
    --field3-light: url('../img/light/field3.png');
    --field4-light: url('../img/light/field4.png');
    --field5-light: url('../img/light/field5.png');
    --field6-light: url('../img/light/field6.png');

    --bg-dark: url('../img/dark/background_night.png');
    --mountain-dark: url('../img/dark/mountain_night.png');
    --castle-dark: url('../img/dark/castle_night.png');
    --field1-dark: url('../img/dark/field1_night.png');
    --field2-dark: url('../img/dark/field2_night.png');
    --field3-dark: url('../img/dark/field3_night.png');
    --field4-dark: url('../img/dark/field4_night.png');
    --field5-dark: url('../img/dark/field5_night.png');
    --field6-dark: url('../img/dark/field6_night.png');
}

body {
    --bg-image: var(--bg-light);
    --mountain-image: var(--mountain-light);
    --clouds-image: var(--clouds-light);
    --castle-image: var(--castle-light);
    --field1-image: var(--field1-light);
    --field2-image: var(--field2-light);
    --field3-image: var(--field3-light);
    --field4-image: var(--field4-light);
    --field5-image: var(--field5-light);
    --field6-image: var(--field6-light);
}

body[data-theme="dark"] {
    --bg-image: var(--bg-dark);
    --mountain-image: var(--mountain-dark);
    --clouds-image: var(--clouds-dark);
    --castle-image: var(--castle-dark);
    --field1-image: var(--field1-dark);
    --field2-image: var(--field2-dark);
    --field3-image: var(--field3-dark);
    --field4-image: var(--field4-dark);
    --field5-image: var(--field5-dark);
    --field6-image: var(--field6-dark);
}
